.btn {
  padding: 22px 220px;
  border: 1px solid #201f1f;
  border-radius: 4px;
  font-size: 3em;
  font-family: Oswald;
  position: relative;
  box-shadow: 1px 2px 6px #000000;
  color: hsl(0, 0%, 100%);
  background-color: #ff1744;
  transition: 0s;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-name: rotate;
  animation-timing-function: linear;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  transition: 0.5s;
  box-shadow: 1px 2px 12px #000000;
  background-color: #cf183c;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.btn:hover::before {
  opacity: 1;
}

.btn:active {
  transition: 0.1s;
  transform: scale(0.993);
  color: hsl(0, 0%, 93%);
}

.rotate:hover {
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-name: rotate;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(0.5deg);
  }
  75% {
    transform: rotateZ(-0.5deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.bounce:hover {
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1px);
  }
  75% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ================ ADD HOVER AND CLIKC ANIMATION ================  */

/* .btn {
  position: relative;
  box-shadow: 1px 2px 6px #000000;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(to bottom right, #ff1744, #050327);
  transition: 0.3s;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 1.3s;
  box-shadow: 1px 2px 12px #000000;
  background-image: linear-gradient(to bottom right, #df1941, #04031b);

  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.btn:hover::before {
  opacity: 1;
}

.btn:active {
  transform: scale(0.993);
  color: hsl(282, 35%, 64%);
}

.btn1 {
  position: relative;
  box-shadow: 1px 2px 6px #000000;
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(
    to bottom right,
    #ff1744,
    hsl(348, 100%, 20%)
  );
  transition: 0.3s;
  z-index: 1;
}
.btn1:hover {
  cursor: pointer;
}
.btn1::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 12px #000000;
  background-image: linear-gradient(
    to bottom right,
    #df1941,
    hsl(347, 95%, 10%)
  );

  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.btn1:hover::before {
  opacity: 1;
}

.btn1:active {
  transform: scale(0.993);
  color: hsl(282, 35%, 64%);
} */
